html {
    margin: 0px;
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

.oreshinyaApp {
    height: 100%;
}

.oreshinyaTopContainer {
    box-sizing: border-box;
    font-size: 24px;
    color: #FFFFFF;
    height: 80px;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: #00BCD4;
    box-shadow: 0px 2px 2px #999999;
}

.oreshinyaBottomContainer {
    height: calc(100% - 80px);
    position: relative;
    z-index: 1;
}

.oreshinyaSearchArea {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.oreshinyaField {
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);
}

.oreshinyaLoupe {
    position: absolute;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 4px solid #999999;
    overflow: hidden;
}

.oreshinyaOreshinya {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.oreshinyaImageContainer {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    opacity: 0;
    pointer-events: none;
}

.oreshinyaClickedImageContainer {
    animation: jump-block 0.1s linear 0.1s 1;
    animation-fill-mode: forwards;
    pointer-events: auto;
}

.oreshinyaImageLink {
    display: block;
}

.oreshinyaBorn {
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url(./images/hone.png);
    background-size: 96px 128px;
    animation: walk 1s step-start 0s infinite;
}

.oreshinyaClickedBorn {
    animation: jump 0.1s linear 0s 1, walk 1s step-start 0s infinite;
}
